@model YueQian.ShortUrl.RequestBase.Web.Models.DetailViewModel

<div class="container">
    <h1>
        @Model.NewsInfo.Title
        <small>来源:<a href="@Model.NewsInfo.SourceUrl" target="_blank">@Model.NewsInfo.Source</a></small>
    </h1>
    <p class="rb-date text-center">发布日期: @Model.NewsInfo.CreationDataString</p>

    <div class="rb-content">
        @Html.Raw(Model.NewsInfo.Contents)
    </div>

    <div class="clearfix"></div>

    <div class="rb-callout">
        <a href="/Topic/@Model.TopicInfo.Id" target="_blank"><h4>@Model.TopicInfo.Title</h4></a>
        <p>@Html.Raw(Model.TopicInfo.Description)</p>
    </div>
</div>
