@model YueQian.ShortUrl.RequestBase.Web.Models.TopicViewModel

<div class="main">
    <div class="col-xs-12 col-md-9">
        <div class="page-header">
            <h1>@Model.TopicInfo.Title <small>来源: <a href="@Model.TopicInfo.ComeFromUrl" target="_blank">@Model.TopicInfo.ComeFrom</a></small></h1>
        </div>
        <div class="rb-main">
            @Html.Raw(Model.TopicInfo.Contents)
            <div class="clearfix"></div>
        </div>
        @foreach (var item in Model.Collection)
        {
        <div class="rb-item">
            <h3><a href="/Details/@item.Id" target="_blank">@item.Title</a></h3>
            <p>@Html.Raw(item.Description)</p>
            <div class="clearfix"></div>
        </div>
        }
    </div>
    <div class="col-xs-6 col-md-3">
        <aside class="main-sidebar">

            <div class="sidebar" id="scrollspy">

                <ul class="nav sidebar-menu">
                    <li><a href="#introduction"><i class="fa fa-circle-o"></i> 导言</a></li>
                    @foreach (var item in Model.Nav)
                    {
                        <li><a href="@item.Url"><i class="glyphicon glyphicon-screenshot"></i> @item.Title</a></li>
                    }
                </ul>
            </div>
        </aside>

    </div>
</div>
<div class="clearfix"></div>
@Html.Partial("_Footer")
